html {
	height: 100%;
}

body {
	/*height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background: linear-gradient(#fff, #3399CC);*/
	background-color: #E0E0E0;
}
.project-title {
	margin-top: 50px;
}

.container {
  position: center;
  left: 10%;
  width: 1013px;
}

#tags {
	margin-top: 144px; 
	text-align: right;
}
.nav-info {
	padding-left: 10px;
	display:inline;
}

.pitch-img {
	margin-left: 0px;
	display:inline;
}

.quick-info {
	margin-left: 600px;
	padding-right: 20px;
}
.pitch-description {
	margin-top: 0px;
	font-weight: bold;
	list-style-type: none;
	/*display:inline;*/
	text-align: left;
}
.pitch-data {
	font-weight: bold;
	font-size: 70px;
	list-style-type: none;
	/*display:inline;*/
	text-align: right;
}